# IDE Related
.idea
.venv
.env
**/Setup.iml
.idea/

# Misc file formats
**/*.gz
**/*.log
**/*.sqlite3

# Build artifacts
**/*.whl
**/dist/*
**/*.egginfo
**/dependency_links.txt
**/PKG-INFO
**/SOURCES.txt
**/top_level.txt
**/*.pkl

# Python
__pycache__
.pytest_cache
.coverage
htmlcov/


# Tests
.coverage
/htmlcov

**/test.db

**/uploads/*